<div class="container-fluid">
    <div class="row nop">
        <div class="sidebar col-lg-4">
            <div class="top">
                <div class="logo-img">
                    <img src="../assets/brand.png" alt="" width="35" height="35">
                </div>
                <p>Asteriisc</p>
            </div>
            <div class="main">
                <ul class="list-unstyled components">
                    <li class="active q">

                        <!-- Link with dropdown items -->
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="anc anc1">
                            <span class="ico">
                                <i class="fa fa-user "></i>
                            </span> Users
                            <span class="pull-right">
                                <i class="fa fa-sort-down "></i>
                            </span>
                        </a>

                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a routerLink="/all-users">All Users</a>
                            </li>
                            <li>
                                <a routerLink="/add-user">Add User</a>
                            </li>                        
                        </ul>

                    </li>
                    <li class="q">

                        <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false">
                            <span class="ico">
                                <i class="fa fa-user-circle"></i>
                                <!-- Link with dropdown items -->
                            </span> Admin
                            <span class="pull-right">
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </a>

                        <ul class="collapse list-unstyled" id="adminSubmenu">
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                        </ul>

                    </li>
                    <li class="q">

                        <!-- Link with dropdown items -->
                        <a href="#orgSubmenu" data-toggle="collapse" aria-expanded="false">
                            <span class="ico">
                                <i class="fa fa-sitemap"></i>
                            </span> Organization
                            <span class="pull-right">
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </a>
                        <ul class="collapse list-unstyled" id="orgSubmenu">
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                        </ul>

                    </li>
                    <li class="q">
                        <!-- Link with dropdown items -->
                        <a href="#catSubmenu" data-toggle="collapse" aria-expanded="false">
                            <span class="ico">
                                <i class="fa fa-sitemap"></i>
                            </span> Categories
                            <span class="pull-right">
                                <i class="fa fa-sort-down"></i>
                            </span>
                        </a>

                        <ul class="collapse list-unstyled" id="catSubmenu">
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                            <li>
                                <a href="#">Page</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>

        <div class="main-div  col-lg-8">
            <div class="navi">
            <div class="col-md-3 bars">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col-md-5 search">
                <div class="search-ico">
                        <i class="fa fa-search"></i>
                </div>
                <input type="text" placeholder="Search..">
            </div>
            <div class="col-md-4 ">
                <div class="dropdown pull-right drop">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Setting</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="cont">
            <router-outlet></router-outlet>
        </div>
        </div>
    </div>
</div>
