.n{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .ma{
    background: #F7F7F7;
  min-height: 90vh;
  z-index: 15;
  
  }
  .form-contr{
    background: white;
    width: 300px;
    box-shadow: 0px 10px 10px -6px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 15px;
    font-size: 14px;
  }
  input:focus{
    outline: none;
    border: none;
  }
  div.i_t{
    position: absolute;
    right: 20px;
    top: 12px;
  
  }
  div.i_t i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 8px;
    background: rgb(31, 161, 74);
    color: white;
    font-size: 16px;
  }