<div class="navi">
    <div class="left-navi">
      <a href="">Home</a>
      <a href="">Categories</a>
      <a href="">About</a>
    </div>
    <div class="brand-a">
      <span><img src="../assets/brand.png" alt=""></span>
      <a href="">Asteriisc</a>
    </div>
    <div class="right-navi">
        <a href="">Sign In</a> 
        <a href="">sign up</a>
    </div>
</div>
<div class="back-pop">
  <div class="main">
    <div class="si">
      <a href="" class="sin">SIGN IN</a>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="example@yourmail.com">
        </div> 
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="text" class="form-control" placeholder="Password">
        </div>
      </div>
      <a href="" class="btn b">SIGN IN</a>
      <a href="" class="fo">Forgot Your Password</a>
      <h6>OR</h6>
      <a class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
          </a>
          <a class="btn btn-block btn-social btn-google">
              <i class="fa fa-google"></i> Sign in with Google
              </a>
    </div>
    <div class="ri">
      <div class="r"></div>
      <div class="exi">
        <i class="fa fa-times-circle"></i>
      </div>
      <div class="re">
        <a href="" class="su">SIGN UP</a>
        <div>
            <label for="exampleInputName" class="name">Name * </label>
            
              <input type="text" class="form-control name" name="name" placeholder="Name" (keypress)="key($event)">
            </div>

          <div>
            <label for="exampleInputEmail1" class="name">Email *</label>
            
              <input type="email" class="form-control email" name="email" placeholder="example@yourmail.com " (keypress)="key($event)">
            
          </div>

          <div>
            <label for="exampleInputEmail1" class="name">Phone *</label>
            
              <input type="number" class="form-control phone" name="phone" placeholder="Phone Number" (keypress)="key($event)">
            
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="name">Password *</label>
            
              <input type="password" class="form-control pass" name="password" placeholder="Password" (keypress)="key($event)">
            
          </div>

          <div>
            <label for="exampleInputAddress" class="name">Re-Enter Password *</label>
            
              <input type="password" class="form-control" name="re-password" placeholder="Re-enter Password" (keypress)="key($event)">
            
          </div>
          <a class="btn c">SIGN UP</a>

      </div>
    </div>
  </div>
</div> 
