a{
    text-decoration: none;
    cursor: pointer;
}
.navi{
    background: #444350;
    display: flex;
    padding: 10px 30px 10px 30px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
   width: 100%;
   height: 7vh;
}
.left-navi{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.left-navi a{
    color: #D8D8E4;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}
#serr{
    color: red;
    font-size: 14px;
    font-weight: 500;
}
#ser{
    color: red;
    font-size: 14px;
    font-weight: 500;
}
#o_serr{
    color: red;
    font-size: 14px;
    font-weight: 500;
}
#o_ser{
    color: red;
    font-size: 14px;
    font-weight: 500;
}
.brand-a{
    width: 60%;
    display: flex;
    justify-content: center;
}
.brand-a a{
    color: white;
    font-size: 14px;
    margin-top: -1px;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}
.brand-a span img{
    width: 20px;
    height: 20px;
    margin-top: -5px;
}
.right-navi{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;   
}
i.fa.fa-location-arrow {
    position: absolute;
    right: 8%;
    top: 70%;
    font-size: 18px;
    color: rgb(31, 161, 74);
}
.right-navi a{
    color: #D8D8E4;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20px;  
    cursor: pointer; 
}
.right-navi a:last-child{
    margin-right: 0px;
}
.right-navi.rig,.right-navi1.rig{
    width: 20%;
    display: none;
    justify-content: flex-end;
    align-items: flex-end; 
}
.right-navi.rig span,.right-navi1.rig span{
    height: 20px;
    width: 20px;   
}
.right-navi.rig img,.right-navi1.rig img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: -10px;
    
}
.right-navi.rig .dropdown,.right-navi1.rig .dropdown{
    margin-top: -5px;
}
.right-navi.rig a.r_d,.right-navi1.rig a.r_d{
    margin-left: 14px;
}
.dropdown-menu{
    background:#444350;
    font-size: 12px; 
    margin-left:-123px !important;
    margin-top: 15px;
}
.dropdown-menu a:hover{
    background: transparent;

}
.back-pop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba(0,0,0,0.5));
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 15;

}
.back-pop1{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba(0,0,0,0.5));
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 15;
}
.main{
    width: 70%;
    height: 70%;
    display: flex;
    /* background-color: black; */
     background:  url('../assets/sign.jpeg');
     background-position: 100%;

}
.main::before{
    content: '';
    position: absolute;
    /* top: 0%;
    left: 0%; */
    width: 70%;
    height: 70%;
    background: #ae3c4261;
}
.s{
    width: 50%;
}
.si{
    position: absolute;
    background: #EDE6EF;
    height: 80%;
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    top:10%;
}
.si div{
    height: 15%;
    width: 100%;
    margin-bottom: 20px;
    
}
.f{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}
a.fo{
    /* margin-top: -6%; */
    /* margin-bottom: 2%; */
    color: red;
    font-size: 14px;
}
a.ne{
    margin-top: 1%;
    color: green;
}
a.b{
    width: 100%;
    background: #3897c1;
    color: white;
}
h6{
    margin-top: 2%;
    text-align: center;
}
a.btn.btn-block.btn-facebook{
    background: #3B5998;
    color: white;
}
a.btn.btn-block.btn-google{
    background: #DD4B39;
    color: white;
}
i.fa.fa-facebook.fa-fw {
    margin-right: 10px;
}
i.fa.fa-google{
    margin-right: 10px;
}
.ri{
    width: 50%;
    display: flex;
    justify-content: center;
    min-height: 150%;

}
.r{
    position: relative;
    height: 100%;
}
.re1{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #EDE6EF;
    width:25%;
    height: 84%;
    z-index: 20;
    padding: 8px 15px 8px 15px;  
    top: 8%;
    font-size: 12px;
}
.re{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #EDE6EF;
    width:25%;
    height: 83%;
    z-index: 20;
    padding: 15px;
    top: 8.5%;
    font-size: 12px;
}
.re label{
    font-size: 16px;
}
.re input,.re textarea{
    border-radius: 3px;
}
.re textarea{
    resize: none;
}
.re1 input,.re textarea{
    border-radius: 3px;
}
.re1 textarea{
    resize: none;
}
.form-contro {
    display: block;
    width: 100%;
    padding: 3px 5px 3px 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.exi {
    position: relative;
    top: -2%;
    left: 50%;
    z-index: 30;
}
.exi i{
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}
a.su{
    color: #211020;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2%;
}
a.sin{
    color: #211020;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2%;
}
.re div{
    height: 15%;
    width: 100%;
    margin-bottom: 5px;
    
}
.re1 div{
    height: 15%;
    width: 100%;
    margin-bottom: 5px;
    
}
a.c{
    background: #3897c1;
    width: 70%;
    color: white;
    font-size: 14px;
    font-weight: 500;

}
a.c1{
    background: #3897c1;
    width: 70%;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5%;

}


