<div class="navi">
    <div class="left-navi">
      <a href="" class="cu">Home</a>
      <a href="">Categories</a>
      <a href="">About</a>
    </div>
    <div class="brand-a">
      <span><img src="../assets/brand.png" alt=""></span>
      <a href="">Asteriisc</a>
    </div>
    <div class="right-navi rig">
      <span><img src="../assets/sign.jpeg" alt=""></span>
      <div class="dropdown">
        <a href="" class="r_d dropdown-toggle" data-toggle="dropdown" *ngFor="let q of qe">
          {{q}}</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">LogOut</a>
        </div>
      </div>
    </div>
    <div class="right-navi">
        <a (click)="open()">User</a> 
        <a (click)="open1()">Organisation</a>
    </div>
</div>
<div class="back-pop">
  <div class="main">
    <div class="si">
      <a href="" class="sin">SIGN IN</a>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="example@yourmail.com"
            [(ngModel)]="u_s_email">
        </div> 
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="text" class="form-control" placeholder="Password" 
          [(ngModel)]="u_s_password">
        </div>
      </div>
      <span id="serr"></span>
      <a class="btn b" (click)="signin()">SIGN IN</a>
      <a href="" class="fo">Forgot Your Password</a>
      <h6>OR</h6>
      <a class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
          </a>
          <a class="btn btn-block btn-social btn-google">
              <i class="fa fa-google"></i> Sign in with Google
              </a>
    </div>
    <div class="ri">
      <div class="r"></div>
      <div class="exi">
        <i class="fa fa-times-circle" (click)="close()"></i>
      </div>
      <div class="re">
        <a href="" class="su">SIGN UP</a>
        <div>
            <label for="exampleInputName" class="name">Name * </label>
            
              <input type="text" class="form-control name" name="name" placeholder="Name"
              [(ngModel)]="u_sp_name">
            </div>

          <div>
            <label for="exampleInputEmail1" class="name">Email *</label>
            
              <input type="email" class="form-control email" name="email" placeholder="example@yourmail.com" [(ngModel)]="u_sp_email"
              >
            
          </div>

          <div>
            <label for="exampleInputEmail1" class="name">Phone *</label>
            
              <input type="number" class="form-control phone" name="phone" placeholder="Phone Number" [(ngModel)]="u_sp_phone"
              >
            
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1" class="name">Password *</label>
            
              <input type="password" class="form-control pass" name="password" placeholder="Password" [(ngModel)]="u_sp_password"
              >
            
          </div>

          <div>
            <label for="exampleInputAddress" class="name">Re-Enter Password *</label>
            
              <input type="password" class="form-control" name="re-password" placeholder="Re-enter Password" [(ngModel)]="u_sp_rp"
              >
            
          </div>
          <span id="ser"></span>
          <a class="btn c1"(click)="signup()">SIGN UP</a>

      </div>
    </div>
  </div>
</div> 
<div class="back-pop1">
  <div class="main">
    <div class="si">
      <a href="" class="sin">SIGN IN</a>
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="example@yourmail.com"
            [(ngModel)]="o_s_email">
        </div> 
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="text" class="form-control" placeholder="Password" 
          [(ngModel)]="o_s_password">
        </div>
      </div>
      <span id="o_serr"></span>
      <a class="btn b" (click)="o_signin()">SIGN IN</a>
      <a href="" class="fo">Forgot Your Password</a>
      <h6>OR</h6>
      <a class="btn btn-block btn-social btn-facebook">
          <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
          </a>
          <a class="btn btn-block btn-social btn-google">
              <i class="fa fa-google"></i> Sign in with Google
              </a>
    </div>
    <div class="ri">
      <div class="r"></div>
      <div class="exi">
        <i class="fa fa-times-circle" (click)="close1()"></i>
      </div>
      <div class="re1">
        <a href="" class="su">SIGN UP</a>
        <div>
            <label for="exampleInputName" class="name">Name * </label>
            
              <input type="text" class="form-contro name" name="name" placeholder="Name"
              [(ngModel)]="o_sp_name">
            </div>

          <div>
            <label for="exampleInputEmail1" class="name">Email *</label>
            
              <input type="email" class="form-contro email" name="email" placeholder="example@yourmail.com" [(ngModel)]="o_sp_email"
              >
            
          </div>

          <div>
            <label for="exampleInputEmail1" class="name">Phone *</label>
            
              <input type="number" class="form-contro phone" name="phone" placeholder="Phone Number" [(ngModel)]="o_sp_phone"
              >
            
          </div>
          <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputPassword1" class="name">Password *</label>
                    
                      <input type="password" class="form-contro pass" name="password" placeholder="Password" [(ngModel)]="o_sp_password"
                      >
                    
                  </div>

            </div>
            <div class="col-sm-6">
                <div>
                    <label for="exampleInputAddress" class="name">Re-Enter Password *</label>
                    
                      <input type="password" class="form-contro" name="re-password" placeholder="Re-enter" [(ngModel)]="o_sp_rp"
                      >
                    
                  </div>

            </div>
          </div>

        

        
          <div>
            <label for="exampleInputAddress" class="name">Address *</label>
            
              <textarea class="form-contro" name="address" placeholder="Address" 
              [(ngModel)]="o_sp_address"
              ></textarea> 
            
          </div>
          <div>
            <label for="exampleInputAddress" class="name">Category *</label>
            <select name="category" id=""class="form-contro" [(ngModel)]="selected_cat">
              <option value="" disabled>please select a category</option>
              <option *ngFor="let c of categories" value="{{c.cat_name}}">{{c.cat_name}}</option>
            </select>
          </div>
          <span id="o_ser"></span>
          <a class="btn c"(click)="o_signup()">SIGN UP</a>

      </div>
    </div>
  </div>
</div> 

