.org_pro{
    width: 100%;
    /* height: 93vh; */
    background: #F0F0F0
    
}
h2{
    font-size: 1.5rem !important;
}
.wrap{
    position: relative;
    width: 100%;
    height: 300px;
}
.p{
    display: flex;
    width: 100%;
    height: 13vh;
    background: #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
    margin-bottom: 2vh;
}
.pro{
    width: 30%;
    padding-left: 8%;
    
}
.pro_pic{
    position: absolute;
    margin-top: -75px; 
}
.pro_pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 15;
}
.p_r{
    width: 70%;
    /* padding: 20px; */
}
.p_n{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    /* border-bottom: 1px solid #F6F6F6; */
}
.p_n h2{
    font-weight: 400;
    text-transform: capitalize;
}
.text-muted{
    text-transform: capitalize;
}
.n_r{
    padding-top: 7px;
}
.n .text-muted{
    margin-bottom: 0px !important;
}
.n_r a.btn.btn-md{
    background: #3AB0E5;
    color: white;
    width: 150px;
}
a.btn.btn-md.w{
    margin-left: 15px !important;
    background: #D9534F !important;
}
.row{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.o_p_l{
    padding-right: 2%;
    height: 80vh;
}
.org_pro_left{
    background: #FFFFFF;
}
.menu_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: row;
    letter-spacing: 1px;
    margin-bottom: 5%;
    cursor: pointer;
}
.item span{
    color: #b0b8bd;
    margin-right: 5%;
}
.pull-rig{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.o_p_r{
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: 80vh;
    overflow: auto;
}



