.wrap{
    position: relative;
    width: 100%;
    height: 300px;
}
.p{
    display: flex;
    width: 100%;
}
.pro{
    width: 30%;
    padding-left: 8%;
    height: 100vh;
    background: #FAFAFA;
}
.pro_pic{
    position: absolute;
    margin-top: -75px; 
}
.pro_pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    z-index: 15;
}
.p_r{
    width: 70%;
    /* padding: 20px; */
}
.p_n{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    /* border-bottom: 1px solid #F6F6F6; */
}
.p_n h2{
    font-weight: 400;
    text-transform: capitalize;
}
.text-muted{
    text-transform: capitalize;
}
.n_r{
    padding-top: 7px;
}
.n .text-muted{
    margin-bottom: 0px !important;
}
.n_r a.btn.btn-md{
    background: #3AB0E5;
    color: white;
    width: 150px;
}
a.btn.btn-md.w{
    margin-left: 15px !important;
    background: #D9534F !important;
}
.cate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #F6F6F6;
}
.c_ic,.c_ic1,.c_ic2,.c_ic3{
    padding-left: 80px;
    padding-right: 80px;
    padding-top:10px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.c_ic div.c_ic_icon,.c_ic1 div.c_ie_icon,.c_ic2 div.c_id_icon,.c_ic3 div.c_if_icon{
    font-size: 25px;

}
.c_ic .text-muted,.c_ic1 .text-muted,.c_ic2 .text-muted,.c_ic3 .text-muted{
    font-size: 13px;
    margin-bottom: 0px !important;
}
.acti{
    background: #F6F6F6;
    color: #3AB0E5;
}
.rou{
    width: 100%;
    height: 100%;
    overflow: auto;
}



